{% if page.title == "Home"
   or page.title == "Projects"
   or page.title == "Awards"
   or page.title == "Press"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
    
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}

I am a thinker, maker, innovator, learner. 

I am currently a freshman at [University of Illinois at Urbana-Chmapaign](https://illinois.edu/) where I'm majoring in Electrical Engineering. 

I graduated from [Delhi Public School, RK Puram, New Delhi, in 2020. I was the President of [Aerospace Society](https://aeross.org) and a member of [Roboknights](https://www.facebook.com/roboknightsdps/). 
