<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}
        
        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}
        
        {% if site.projects == true %}
            {% if page.title != "Projects" %} <!--Blog-->
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            {% if page.title != "Resume" %}
                <li class="item">
                    <a class="link" href="https://www.dropbox.com/s/b74dcq0uhkwqkh5/Resume%20Spring%202021.pdf?dl=0">Resume</a>
                </li>
            {% endif %}
        {% endif %}
        
        <!--{% if site.press == true %}
            {% if page.title != "Press" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/press">Press</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.press == true %}
            <li class="item">
                <a class="link" href="{{ site.url }}/press">Press</a>
            </li>
        {% endif %}-->
    </ul>
</nav>
